@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: 	#363138;
  --text-color: 	#FAED26;
  --secondary-color: #c0b6b8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  overflow-x: hidden;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a , li:hover{
  cursor: pointer;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}
h4{
  font-weight: 300;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background: #333;
  color: var(--text-color);
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  height: 70px;
  
}
.logo{
  size: 36px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px var(--text-color) solid;
}

.navbar .flex {
  justify-content: space-between;
}
.mobileNav{
  position:-webkit-sticky;
  position:sticky;
  top:0;
  z-index: 500;
}

.menu-bars {
  margin-left: 4rem;
  font-size: 2rem;
  background: none;
  display:none;
}

.nav-menu {
  background-color: var(--primary-color);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  z-index: 6;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: var(--primary-color);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}
/*Main*/
.main{
  height: 650px;  
}

.wrapper{
  position: relative;
  height: 100%;
}
.mainImage{
  width: 100%;
  height: 100%;
  background-image: url("C:\Users\krist\carpathian\src\Components\images\main-image-1.jpg");
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  box-shadow: 0 4px 8px 0 rgba(228, 19, 123, 0.2);
  z-index: -5;
}
.main .grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px;
  height: 150px;
  justify-items: center;
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -30%);
}

/*Order*/

.order{
  height: 1600px;
  background-color: var(--secondary-color);
  text-align: center;
}
.text{
  position: absolute;
  top:150px;
  right:0;
  left:0;
}

.sticky{
  position: fixed;
   left: 33%;
   bottom: 0;
   width: 34%;
   background-color: var(--primary-color);
   text-align:center;
}
.sticky .flex{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  height: 100%;
  padding: 0;
  margin: 0;
}

/*FoodComponent*/
.form .grid{
  display: grid;
  grid-template-columns: auto auto auto auto;
}


/*Media*/

@media (max-width: 900px) {
  .sticky{
    left: 15%;
    width: 70%;
  }
}

@media (max-width: 667px) {
  .menu-bars{
    display:inline;
  }
  .link{
    display: none;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
  }
  .container.flex{
    margin: 0px;
  }
  .main .grid{
    top: 40%;
    left: 50%;
  }
  .sticky{
    left: 0%;
    width: 100%;
  }
}
/*Utilities*/

.button{
  width: 15%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.btn {
  display: inline-block;
  padding: 4px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
}

.btn-outline {
  display: inline-block;
  padding: 4px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  border: 2px solid var(--text-color);
}
.btn-outline:hover{
  background-color:var(--text-color);
  color: black;
}

.btn:hover {
  transform: scale(0.98);
}

/* Backgrounds & colored buttons */
.bg-primary,
.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.bg-secondary,
.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: #333;
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: #fff;
}

/* Text colors */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-light {
  color: var(--light-color);
}

/* Text sizes */
.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.text-center {
  text-align: center;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}
